<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	<title>Todo - Login</title>
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/login.css" rel="stylesheet">
	
</head>
<body>
	<header>

		<nav class="navbar navbar-default">
			<a href="/" class="navbar-brand">Brand</a>
			<ul class="nav navbar-nav">
				<li><a href="#">Home</a></li>
				<li><a href="../RegistrationServlet">Register</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="../LoginServlet">Login</a></li>
			</ul>
		</nav>

	</header>
	
	<div class="container">
		<form action="/TodoApplication/MailServlet" method="post" id="demo-form" class="form-signin" >
			<input type="email" name="email" placeholder="Registered Email" class="form-control" required><br>
			<input type="submit" value ="SUBMIT" class="btn btn-lg btn-success btn-block" ><Br>
		</form>
	</div>
	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/5f7d2e134704467e89f54673/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->
	
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
</body>
</html>