<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Todo - SignUp</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/login.css" rel="stylesheet">

</head>
<body>
	<header>
		<nav class="navbar navbar-default">
			<a href="/" class="navbar-brand">Brand</a>
			<ul class="nav navbar-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Register</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="LoginServlet">Login</a></li>
			</ul>
		</nav>
	</header>
	
	<div class="container">
		<div class="row">
			<form action="RegistrationServlet" method="post" class="form-signin">
				<input type="text" name="name" placeholder="Name" class="form-control" required autofocus="autofocus"><br>
				<input type="text" name="fullname" placeholder="Full-Name" class="form-control" required autofocus="autofocus"><br>
				<input type="email" name="email" placeholder="email" class="form-control" required ><br>
				
				<input type="password" name="password" placeholder="Password" class="form-control" required autofocus="autofocus">
				<input type="password" name="c-password" placeholder="Confirm Password" class="form-control" required autofocus="autofocus">
				
				<button type="submit" class="btn btn-danger btn-lg btn-block">Submit</button>
			</form>
		</div>
	</div>
	
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>